---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/home/Hero.astro';
import About from '../components/home/About.astro';
import FollowingCursor from '../components/home/FollowingCursor.astro';
import ParticlesLayerFar from '../components/home/Particles/ParticlesLayerFar.astro';
import ParticlesLayerClose from '../components/home/Particles/ParticlesLayerClose.astro';
import ParticlesLayerClosest from '../components/home/Particles/ParticlesLayerClosest.astro';
---

<Layout title="Filipe Duarte">
	<FollowingCursor />
	<main id="home">
		<Hero />
		<About />

		<ParticlesLayerFar />
		<ParticlesLayerClose />
		<ParticlesLayerClosest />
	</main>
</Layout>

<script>
	import Lenis from '@studio-freight/lenis';

	const lenis = new Lenis();
	function raf(time) {
		lenis.raf(time)
		requestAnimationFrame(raf);
	}
	requestAnimationFrame(raf);

	const particles = document.querySelectorAll('.layer div');
    function randomizeAnimationDelay(element, duration) {
        for (const particle of element) {
            const delay = duration * Math.random() * -1;

            particle.style.setProperty('--_delay', delay + 's');
        }
    }
	randomizeAnimationDelay(particles, 5);
</script>