<section id="about">
    <div class="container grid">
        <div class="grid-element-12-col">
            <h2>Desde o início da minha carreira, o design e a programação caminham juntos.</h2>
        </div>
        <div class="grid-element-6-col">
            <h3>Designer</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet augue. Vestibulum auctor ornare leo, non.</p>
        </div>
        <div class="grid-element-6-col">
            <h4>Desenvolvedor</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet augue. Vestibulum auctor ornare leo, non.</p>
        </div>
    </div>
</section>

<style>
    h2 {
        max-width: 510px;
    }
</style>