<section id="about">
    <div class="container grid">
        <div class="grid-element-5-col">
            <h2>Desde o início da minha carreira, o design e a programação caminham juntos.</h2>
        </div>
        <div class="grid-element-5-col" style="--_column-start: 1">
            <dl>
                <dt>
                    2006
                </dt>
                <dd>
                    Já no meu primeiro estágio em <strong>design gráfico</strong>, em uma pequena editora, eu precisei aprender <strong>PHP</strong> sozinho para desenvolver o site da empresa.
                </dd>

                <dt>
                    2008
                </dt>
                <dd>
                    Dois anos depois, na Quatro Seniors Informática, a ligação entre as duas áreas se intensificou e eu me desenvolvi ainda mais, explorando <strong>UI design</strong>, me aprofundando em PHP, aprendendo <strong>SQL</strong> e descobrindo o <strong>JavaScript</strong>.
                </dd>

                <dt>
                    2010
                </dt>
                <dd>
                    Posteriormente entrei para a agência uRock, onde tive a oportunidade de trabalhar em diversas áreas como <strong>brand design</strong>, <strong>motion design</strong>, <strong>design instrucional</strong>, além de criar sites em <strong>Wordpress</strong> e alguns web apps.
                </dd>
                <dt>
                    2013<br />
                    2015
                </dt>
                <dd>
                    A promoção à Coordenador de Artes e, logo depois, a entrada para a sociedade fortaleceram ainda mais a sinergia entre criatividade e código.
                </dd>
                <dt>
                    Hoje
                </dt>
                <dd>
                    Atualmente estou de olho em novas oportunidades, buscando explorar mais a fundo novas formas de combinar design e desenvolvimento.
                </dd>
            </dl>
        </div>
    </div>
</section>

<style>
    h2 {
        max-width: 510px;
    }

    .grid-element-5-col {
        height: 100%;
    }

    .grid-element-5-col:last-child {
        --_column-start: 8;
    }
</style>

<script>
    import { gsap } from "gsap";
    import { ScrollTrigger } from 'gsap/ScrollTrigger';
    import SplitType from "split-type";
    import { wrapChildren } from '../../script/script';
    
    gsap.registerPlugin(ScrollTrigger);

    const titleSelector = '#about h2';
    const title = new SplitType(titleSelector, { types: 'lines' });
    const timeline = gsap.timeline({
        scrollTrigger: {
            trigger: "#about",
            toggleActions: 'play none play reset',
        }
    });

    for (const line of title.lines) {
        wrapChildren(line, 'line-content');
    }

    timeline
        .from('#about .line-content', {
            y: '100%',
            duration: 0.5,
            stagger: 0.25,
        })
        .from('#about dt', {
            opacity: 0,
            y: '25%',
            duration: 0.5,
            stagger: 0.25,
        })
        .from('#about dd', {
            opacity: 0,
            y: '25%',
            duration: 0.5,
            stagger: 0.25,
        }, "<");
</script>