<section id="contact">
    <div class="container grid">
        <div class="grid-element-5-col">
            <h2>Estou sempre disponível para uma conversa, é só utilizar um dos meios abaixo.</h2>
        </div>
        <div class="grid-element-5-col" style="--_column-start: 1;">
            <dl>
                <dt>LinkedIn</dt>
                <dd><a href="https://www.linkedin.com/in/filipe-gomes-duarte">/filipe-gomes-duarte</a></dd>

                <dt>GitHub</dt>
                <dd><a href="https://www.github.com/filgduarte">/filgduarte</a></dd>

                <dt>Mastodon</dt>
                <dd><a href="https://www.bolha.us/filipeduarte">/filipeduarte</a></dd>
            </dl>
        </div>
        <div class="grid-element-5-col">
            
        </div>
    </div>
</section>