<section id="about">
    <div class="container grid">
        <div class="grid-element-5-col">
            <h2>Você pode falar comigo por email ou através de uma das redes abaixo.</h2>
        </div>
    </div>
</section>