<section id="contact">
    <div class="container grid">

        <div class="grid-element-5-col">
            <h2>Estou sempre disponível para uma conversa, é só utilizar um dos meios abaixo.</h2>
        </div>

        <div class="grid-element-5-col" style="--_column-start: 1;">
            <dl>
                <dt>LinkedIn</dt>
                <dd><a href="https://www.linkedin.com/in/filipe-gomes-duarte">/filipe-gomes-duarte</a></dd>

                <dt>GitHub</dt>
                <dd><a href="https://www.github.com/filgduarte">/filgduarte</a></dd>

                <dt>Mastodon</dt>
                <dd><a href="https://www.bolha.us/filipeduarte">/filipeduarte</a></dd>
            </dl>
        </div>

        <div class="grid-element-5-col" style="--_column-start: 8">
            <form class="contact-form">
                <div class="form-field">
                    <label for="name">Nome:</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div class="form-field">
                    <label for="email">E-mail:</label>
                    <input type="email" id="email" name="email" required >
                </div>
                <div class="form-field">
                    <label for="message">Mensagem:</label>
                    <textarea id="message" name="message" required minlength="10"></textarea>
                </div>
                <div class="submit-container">
                    <button type="submit" class="button button--primary">Entre em contato</button>
                    <div class="submit-message"></div>
                </div>
            </form>
        </div>
    </div>
</section>

<style>
    .form-field{
        margin-bottom: calc( var(--default-spacing) / 2 );
    }

    label {
        display: block;
    }

    input,
    textarea {
        width: 100%;
        height: var(--default-spacing);
        border: none;
        background-color: rgb( var(--_theme-color-secondary-rgb) / 0.2 );
    }

    textarea {
        height: 8rem;
        resize: none;
    }

    button {
        position: relative;
        float: right;
        width: 50%;
    }
</style>

<script>
    import { gsap } from "gsap";
    import { ScrollTrigger } from 'gsap/ScrollTrigger';
    import { animateSectionTitleOnEnter } from "../../script/script";

    gsap.registerPlugin(ScrollTrigger);
    
    const sectionId = '#contact';

    animateSectionTitleOnEnter(sectionId, 'h2', 'top center');
</script>