<section id="testimonials">
    <div class="container grid">
        <div class="grid-element-5-col">
            <h2>Algumas opiniões sinceras de pessoas que confiaram no meu trabalho.</h2>
        </div>
    </div>
</section>

<script>
    import { gsap } from 'gsap';
    import { ScrollTrigger } from 'gsap/ScrollTrigger';
    import { animateSectionTitleOnEnter } from "../../script/script";

    gsap.registerPlugin(ScrollTrigger);
    
    const sectionId = '#testimonials';

    animateSectionTitleOnEnter(sectionId, 'h2', 'top center');
</script>