<section id="testimonials">
    <div class="container grid">
        <div class="grid-element-5-col">
            <h2>Algumas opiniões sinceras de pessoas que confiaram no meu trabalho.</h2>
        </div>
    </div>
</section>