---
import AnimatedTitle from "../AnimatedTitle.astro";
---

<section id="testimonials">
    <div class="container grid">
        <div class="grid-element-5-col">
            <AnimatedTitle
                level="2"
                animationStagger="0.15"
            >
                Algumas opiniões sinceras de pessoas que confiaram no meu trabalho.
            </AnimatedTitle>
        </div>
    </div>
</section>

<script>
    import { gsap } from 'gsap';
    import { ScrollTrigger } from 'gsap/ScrollTrigger';

    gsap.registerPlugin(ScrollTrigger);
    
    const sectionId = '#testimonials';
</script>