---
import AnimatedTitle from "../AnimatedTitle.astro";
import WorkItem from "./WorkItem.astro";
---

<section id="work">
    <div class="container grid">
        <AnimatedTitle
            level="2"
            animationStagger="0.15"
            className="title | grid-element-5-col"
        >
            Mais que trabalhos, esses projetos contam um pouco da minha história.
        </AnimatedTitle>
        <div class="work-list | grid-element-12-col">
            <WorkItem
                title="Filipe Duarte"
                slug="filipe-duarte"
                tags={['Brand design', 'Web design', 'HTML', 'CSS', 'Javascript', 'Astro', 'GSAP']}
            />
            <WorkItem
                title="Verão + Elas"
                slug="verao-mais-elas"
                tags={['Web design', 'Wordpress', 'Elementor', 'CSS']}
            />
            <WorkItem
                title="Arpo Gin"
                slug="arpo-gin"
                tags={['Brand design', 'Wordpress', 'Elementor', 'CSS']}
            />
            <WorkItem
                title="Gráfica Impacto"
                slug="grafica-impacto"
                tags={['UI Design', 'HTML', 'CSS', 'Javascript', 'Extensão Chrome']}
            />
            <WorkItem
                title="Folder Raízen UFCP"
                slug="folder-raizen-ufcp"
                tags={['Design gráfico']}
            />
        </div>
    </div>
</section>

<script>
    import { gsap } from 'gsap';
    import { ScrollTrigger } from 'gsap/ScrollTrigger';

    gsap.registerPlugin(ScrollTrigger);
    
    const sectionId = '#work';

    ScrollTrigger.create({
        trigger: sectionId,
        pin: '#work .animated-title',
        pinSpacing: false,
        start: 'top top',
        endTrigger: '.work-list',
        end: () => {
            const titleElement = document.querySelector(`${sectionId} .title`);
            return `bottom +=${titleElement.offsetTop + titleElement.offsetHeight}`;
        },
    });
</script>